*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Do Hyeon", sans-serif;
  color: black;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: block;
  text-align: center;
  height: 100vh;
  width: 100%; }
  .container .linear-gradient-text {
    background: -webkit-linear-gradient(#101d2c, #c69963);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .container .card-list {
    width: 85vw;
    margin: 2rem auto;
    margin-bottom: 10rem;
    display: grid;
    padding: 2rem 10rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem; }
    @media only screen and (max-width: 75em) {
      .container .card-list {
        padding: 2rem; } }
  .container .card-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #f9f7f6;
    background-color: #f9f7f6;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out; }
  .container .card_link, .container .card_link:link, .container .card_link:visited {
    background-color: #c69963;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .container .card_link, .container .card_link:link, .container .card_link:visited {
        padding: 1rem; } }
    .container .card_link:hover, .container .card_link:link:hover, .container .card_link:visited:hover {
      transform: translateY(3px);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
  .container form .select {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .container form .select {
        width: 100%; } }
    .container form .select label {
      font-size: 3rem;
      display: block;
      font-weight: 800;
      letter-spacing: 0.5rem;
      margin-bottom: 1rem;
      width: 100%; }
      @media only screen and (max-width: 50em) {
        .container form .select label {
          letter-spacing: 0.2; } }
      @media only screen and (max-width: 37.5em) {
        .container form .select label {
          letter-spacing: 0.1; } }
    .container form .select-option {
      padding: 0.5rem 0.8rem;
      border: none;
      font-size: 2rem;
      font-family: "Do Hyeon", sans-serif;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none;
      border: 1px solid #d6cab0;
      width: 70%;
      margin: 0 auto;
      border-radius: 0.3rem;
      overflow: hidden;
      background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 98% 50%; }
      @media only screen and (max-width: 37.5em) {
        .container form .select-option {
          width: 90%; } }
      .container form .select-option:focus {
        outline: none; }
    .container form .select .submit {
      margin: 1.5rem auto;
      text-decoration: none;
      outline: none; }
      .container form .select .submit:hover {
        background-color: rgba(198, 153, 99, 0.8);
        transform: translateY(-0.2rem); }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(214, 202, 176, 0.8), rgba(249, 247, 246, 0.8)), url(../img/bike-hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (max-width: 75em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      height: 100vh; } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
    @media only screen and (max-width: 50em) {
      .heading-primary--main {
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem; }
    @media only screen and (max-width: 50em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.section__heading {
  font-size: 4rem;
  padding: 1rem;
  position: relative;
  color: #f9f7f6; }

h3 {
  z-index: 3;
  width: 80%;
  font-size: 2rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #fff;
  font-weight: 400;
  transform: translateY(-2rem);
  align-self: center; }

h4 {
  font-size: 2.5rem;
  margin: 1rem; }

h2 {
  font-size: 3.5rem;
  margin: 1rem; }
