// COLOR VARIABLES

$color-grey-light-1: #d6cab0;
$color-grey-light-2: #f9f7f6;
$color-dark-1: #c69963;
$color-blue-dark-1: #101d2c;
// FONT VARIABLES
$font-primary: "Do Hyeon", sans-serif;

//Responnsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px;
$bp-medium: 50em; //800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 52.5% --> 1rem = 10px;

  @media only screen and(max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: black;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: block;
  text-align: center;
  height: 100vh;
  width: 100%;

  .linear-gradient-text {
    background: -webkit-linear-gradient($color-blue-dark-1, $color-dark-1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .card-list {
    width: 85vw;
    margin: 2rem auto;
    margin-bottom: 10rem;
    display: grid;
    padding: 2rem 10rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    @media only screen and(max-width: $bp-largest) {
      padding: 2rem;
    }
  }

  .card-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-grey-light-2;
    background-color: $color-grey-light-2;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }

  .card_link {
    &,
    &:link,
    &:visited {
      background-color: $color-dark-1;
      color: #fff;
      border: none;
      border-radius: 0;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.8rem 3rem;
      cursor: pointer;
      transition: all 0.2s;

      @media only screen and(max-width: $bp-small) {
        padding: 1rem;
      }

      &:hover {
        transform: translateY(3px);
        box-shadow: 0 1rem 4rem rgba(#000, 0.3);
      }
    }
  }

  form {
    .select {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 6rem;
      height: 100%;

      @media only screen and (max-width: $bp-small) {
        width: 100%;
      }

      label {
        font-size: 3rem;
        display: block;
        font-weight: 800;
        letter-spacing: 0.5rem;
        margin-bottom: 1rem;
        width: 100%;

        @media only screen and (max-width: $bp-medium) {
          letter-spacing: 0.2;
        }

        @media only screen and (max-width: $bp-small) {
          letter-spacing: 0.1;
        }
      }

      &-option {
        padding: 0.5rem 0.8rem;
        border: none;
        font-size: 2rem;
        font-family: $font-primary;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border: 1px solid $color-grey-light-1;
        width: 70%;
        margin: 2rem auto;
        border-radius: 0.3rem;
        overflow: hidden;
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
          no-repeat 98% 50%;

        @media only screen and (max-width: $bp-small) {
          width: 90%;
        }

        &:focus {
          outline: none;
        }
      }

      .submit {
        margin: 1.5rem auto;
        text-decoration: none;
        outline: none;

        &:hover {
          background-color: rgba($color-dark-1, 0.8);
          transform: translateY(-0.2rem);
        }
      }
    }
  }
}

footer {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 1.6rem;
}
