.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    @media only screen and(max-width: $bp-medium) {
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    @media only screen and(max-width: $bp-medium) {
      letter-spacing: 0.5rem;
    }
  }
}

.section__heading {
  font-size: 4rem;
  padding: 1rem;
  position: relative;
  color: $color-grey-light-2;
}

h3 {
  z-index: 3;
  width: 80%;
  font-size: 2rem;
  text-align: center;
  padding: 1.25rem;
  background-color: $color-blue-dark-1;
  color: #fff;
  font-weight: 400;
  transform: translateY(-2rem);
  align-self: center;
}

h4 {
  font-size: 2.5rem;
  margin: 1rem;
}

h2 {
  font-size: 3.5rem;
  margin: 1rem;
}
